@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

a:link {
  color: #5499C7;
  text-decoration: none;

}

a:visited {
  color: #5499C7;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: green;
}

a:hover{
  text-decoration: underline red;
  color: #5499C7;
}
